@model Patient_Record.Areas.Patient_Settings.ViewModel.PatientDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="col-12">
    <div class="row justify-content-center margin0">
        <div class="col-10">
            <h4>Patient Details</h4>
            <hr />
            <dl class="row">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Patient.Patient_Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Patient.Patient_Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Patient.Patient_Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Patient.Patient_Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Patient.Patient_Official_ID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Patient.Patient_Official_ID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Patient.Patient_DOB)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Patient.Patient_DOB)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Patient.Patient_Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Patient.Patient_Email)
                </dd>
            </dl>
        </div>
        <div class="col-10">
            <span class="btn bg-dark-75-o-85">
                @Html.ActionLink("Edit", "Edit", new {  id = Model.Patient.Patient_Id })
            </span>
            <span class="padding30-20"></span>
            <span class="btn btn-bg-success">
                @Html.ActionLink("Back", "Index")
            </span>

        </div>

    </div>

</div>
