@model IEnumerable<Patient_Record.Areas.Patient_Settings.ViewModel.PatientStatistics>

@{
    ViewData["Title"] = "Statistics";
}

<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Patient_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patient_Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patient_Avg_Bills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patient_Avg_Bills_Outlier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patient_5th_Record)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patient_Similars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Months_Visit)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (PatientStatistics item in ViewBag.statisticsList)
            {
                <tr>
                    <td>
                        @item.Patient_Name 
                    </td>
                    <td>
                        @item.Patient_Age 
                    </td>
                    <td>
                        @item.Patient_Avg_Bills
                    </td>
                    <td>
                        @item.Patient_Avg_Bills_Outlier
                    </td>
                    <td>
                        @item.Patient_5th_Record
                    </td>
                    <td>
                        @item.Patient_Similars
                    </td>
                    <td>
                        @item.Months_Visit
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
